* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "iconfont";
  src: url("../fonts/font_zsfgwkjgfk/iconfont.css");
  src: url("../fonts/font_zsfgwkjgfk/iconfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/font_zsfgwkjgfk/iconfont.woff") format("woff"),
    url("../fonts/font_zsfgwkjgfk/iconfont.ttf") format("truetype"),
    url("../fonts/font_zsfgwkjgfk/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 10px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  /* 文字粗细 */
  -webkit-text-stroke-width: 0.3px;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
}

.w {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

li {
  list-style: none;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.main li {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #f1f1f1;
  border: 1px solid #3498bd;
  text-align: center;
  line-height: 50px;
  border-radius: 20%;
  z-index: 0;
  transition: all 0.2s linear;
}

.main li::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  z-index: -10;
}

.main li:hover {
  background-color: #3498bd;
  border: 1px solid #f1f1f1;
}

.main li:hover i {
  font-size: 40px;
  color: #f1f1f1;
}

.main li i {
  display: block;
  color: #3498bd;
  width: 100%;
  height: 100%;
  font-size: 30px;
  transition: all 0.2s linear;
}
