.w-input {
  border: 1px solid rgb(18, 150, 219);
  outline-style: none;
  border-radius: 4px;
}
.w-input:focus {
  border: 1px solid rgb(19, 34, 122);
}
.list-item {
  word-wrap: break-word;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background: transparent;
  backdrop-filter: blur(2px);
  border-radius: 4px;
  animation: fadeIn 0.5s 1 linear;
  padding: 4px 4px;
  margin: 4px;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
